@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/*!* Remove margins and padding from the list *!*/
/*ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*!* Style the list items *!*/
/*ul li {*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    padding: 12px 8px 12px 40px;*/
/*    background: #eee;*/
/*    font-size: 18px;*/
/*    transition: 0.2s;*/

/*    !* make the list items unselectable *!*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*!* Set all odd list items to a different color (zebra-stripes) *!*/
/*ul li:nth-child(odd) {*/
/*    background: #175fa4;*/
/*}*/

/*!* Darker background-color on hover *!*/
/*ul li:hover {*/
/*    background: #ddd;*/
/*}*/

/*!* When clicked on, add a background color and strike out text *!*/
/*ul li.checked {*/
/*    background: #888;*/
/*    color: #fff;*/
/*    text-decoration: line-through;*/
/*}*/

/*!* Add a "checked" mark when clicked on *!*/
/*ul li.checked::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    border-color: #fff;*/
/*    border-style: solid;*/
/*    border-width: 0 2px 2px 0;*/
/*    top: 10px;*/
/*    left: 16px;*/
/*    transform: rotate(45deg);*/
/*    height: 15px;*/
/*    width: 7px;*/
/*}*/

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.welcomeMessage {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 20px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* Style the header */
.todo-list-container {
    background-color: #00203FFF;
    margin: auto;
    width: 60%;
    border-radius: 15px;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.todo-list-container:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input#myInput {
    margin: 0;
    background-color: #ADEFD1FF;
    border: none;
    border-radius: 15px;
    width: 70%;
    padding: 10px 10px 10px 30px;
    float: left;
    font-size: 16px;
}

p {
    font-size: 25px;
    text-align: left;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 15%;
    background-color: #FCF6F5FF;
    color: #2BAE66FF;
    float: right;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.each-task {
    display: flex;
    float: right;
    padding: 10px;
    border-radius: 5px 5px 5px;
    border: 1px solid blueviolet;
    margin: 10px;
}

.each-task span {
    padding: 10px;
}

.each-task form {
    margin-left: auto;
    display: flex;
}

.todo_list {
    background-color: #00203FFF;
    width: 60%;
    border-radius: 15px;
    padding: 30px 40px;
    margin: 30px auto auto;
    color: white;
    display: flex;
    flex-direction: column;
}

.addBtn:hover {
    background-color: black;
    color: #FCF6F5FF;
}

.navi-bar {
    background-color: #4b739b;
    padding: 10px;
    text-align: center;
    width: 50%;
    border-radius: 20px;
    margin: auto auto 20px;
    /* Pay special attention here! */
    position: sticky;
    top: 0px;
}

.navi-bar a {
    color: white;
    font-size: 28px;
    text-decoration: none;
    margin: 0px 10px;
}

.navi-bar a:hover {
    text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
    .navi-bar html {
        scroll-behavior: smooth;
    }
}


/*SIDE BAR VVV*/

.side-bar {
    background-color: #7bacde;
    border: solid 1px;
    width: auto;
    float: left;
    min-height: 500px;
    display: table-cell;
    height: 600px;
    padding: 20px 0;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.side-bar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.side-bar .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.side-bar .profile h3 {
    color: #ffffff;
    margin: 10px 0 5px;
}

.side-bar .profile p {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.side-bar .menu-list-sidebar li {
    list-style-type: none;
}

.side-bar .menu-list-sidebar ul {
    display: initial;
}

.side-bar .menu-list-sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #072233;
    color: rgb(241, 237, 237);
    font-size: 20px;
    position: relative;
    text-decoration: none;
}

.side-bar .menu-list-sidebar ul li a .icon {
    color: #e3e3e3;
    width: 30px;
    display: inline-block;
}

.side-bar .menu-list-sidebar ul li a:hover,
.side-bar .menu-list-sidebar ul li a.active {
    color: #0c7db1;

    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.side-bar .menu-list-sidebar ul li a:hover .icon,
.side-bar .menu-list-sidebar ul li a.active .icon {
    color: #0c7db1;
}

.side-bar .menu-list-sidebar ul li a:hover:before,
.side-bar .menu-list-sidebar ul li a.active:before {
    display: block;
}

.accountDetails {
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    width: 80%;
    border: solid 1px;
    min-height: 600px;
    display: table-cell;
    border-radius: 20px;
    background-color: #7bacde;
}

.accountDetails .loginDetails {
    background-color: #b3d3d3;
    border-radius: 20px;
    width: 40%;
    word-break: break-word;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

.accountDetails p {
    font-size: 25px;
    text-align: center;
}

.accountDetails h2 {
    font-size: 35px;
    text-align: center;
    color: white;
}

.passwordChangingContainer {
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    display: flex;
    width: 80%;
    border: solid 1px;
    min-height: 600px;
    border-radius: 20px;
    background-color: #7bacde;
    justify-content: center;
}

.passwordChangingContainer h2 {
    color: white;
}

.passwordChangingContainer .passwordContainer {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.passwordChangingContainer .passwordContainer input {
    border-radius: 10px;
    text-align: center;
}

.passwordChangingContainer button {
    padding: 10px;
    width: 150px;
    background-color: #2083e9;
    color: white;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.passwordChangingContainer button:hover {
    background-color: #05519f;
}

.passwordChangingContainer .password-error p {
    font-size: 20px;
    text-align: center;
    width: 60%;
    display: block;
    background-color: red;
    border: 2px solid red;
    padding: 5px;
    margin: auto auto 50px;
    border-radius: 20px;
    font-weight: bold;
}