.register-form {
    width: 70%;
    overflow: hidden;
    margin: auto;
    padding: 70px;
    background: grey;
    border-radius: 20px;
}

.register-form-parent {
    display: block;
    padding-bottom: 10px;
    margin: auto;
}

h2 {
    font-size: 38px;
    font-weight: bolder;
    text-align: center;
}

.register-form-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 14px;
    outline: none;
    background: #323131;
}

.register-form-parent label {
    font-size: 22px;
    margin-bottom: 8px;
    color: #a4a4a4;
}

.register-form-parent input:hover {
    background: #404040;
}

.register-form-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}

.registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerButton button {
    width: 50%;
    margin-top: 30px;
    padding: 10px 18px;
    font-size: 22px;
    background: #1a3969;
    border: none;
    border-radius: 20px;
    color: #f4f4f4;
}

.registerButton button:hover {
    opacity: 0.9;
}

.registerButton button:focus {
    box-shadow: 0px 0px 0px 3px black;
}