<nav class="side-bar" th:fragment="side-bar">
    <div class="profile">
        <img src="https://pbs.twimg.com/media/DVh_uJGWsAAbben?format=jpg&name=4096x4096" alt="profile_picture">
        <h3>TEST TEST</h3>
        <p>PROGRAMMER</p>
    </div>
    <div class="menu-list-sidebar">
        <ul>
            <li>
                <a href="/">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a href="/myaccount/details">
                    <span class="icon">
                        <i class="fas fa-user-shield"></i>
                    </span>
                    <span class="item">
                        Account Details
                    </span>
                </a>
            </li>
            <li>
                <a href="/myaccount/password">
                    <span class="icon">
                        <i class="fas fa-cog"></i>
                    </span>
                    <span class="item">
                        Change password
                    </span>
                </a>
            </li>

            <li>
                <a href="/myaccount/deleteaccount">
                    <span class="icon">
                        <i class="fas fa-database"></i>
                    </span>
                    <span class="item">
                        Delete your account
                    </span>
                </a>
            </li>

        </ul>
    </div>
</nav>