<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/header :: head">

</head>
<body>
<div class="container">
    <div layout:fragment="content"></div>
    <div th:replace="fragments/navi-bar :: navi-bar"></div>
    <div class="welcomeMessage">
        <p th:text="${welcomeMessage}"></p>
    </div>
    <div id="todo-list-add-main-container" class="todo-list-container" th:object="${todoDto}">
        <form class="task-add" th:action="@{/add}"  method="post">
        <h2>My To Do List</h2>
        <p>Add task to your list</p>
        <div>
            <input type="text" th:field="*{description}" id="myInput" placeholder="Title...">
        </div>
        <div>
            <button type="submit" class="addBtn">Dodaj</button>
        </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>