<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/header :: head">

</head>
<body>
<div class="container">
    <div layout:fragment="content"></div>
    <div th:replace="fragments/navi-bar :: navi-bar"></div>
    <div th:replace="fragments/side-bar :: side-bar"></div>
    <div class="container-child">

        <form th:method="post" th:action="@{/myaccount/password}" th:object="${userCredentialsDto}">
            <h2>Change your password here</h2>
            <div class="password-error" th:if="${#fields.hasErrors('password')}">
                <p>Passwords does not match.</p>
            </div>
            <div class="password-successfully-changed" th:if="'Password successfully changed' == ${successMsg}">
            <p th:text="${successMsg}"></p>
            </div>
            <div class="passwordContainer">
                <label for="oldPassword">Write your old password</label>
                <input type="password" th:field="*{password}" name="oldPassword" id="oldPassword">
            </div>
            <div class="passwordContainer">
                <label for="newPassword">Write your new password</label>
                <input type="password" th:field="*{newPassword}" name="newPassword" id="newPassword">
            </div>
            <div class="passwordContainer">
                <label for="confirmNewPassword">Confirm your new password</label>
                <input type="password" th:field="*{confirmPassword}" name="confirmNewPassword" id="confirmNewPassword">
            </div>
            <button type="submit">Save</button>
        </form>


    </div>

</div>
<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>